.regsiter-container {
    width: 100%;
    max-width: 1120px;
    height: 90vh;
    margin: 0 auto;
   margin-top: 15px;

    display: flex;
    align-self: center;
    justify-content: space-between;
}

.regsiter-container .content {
 width: 100%; 
 padding: 96px;
 background: #f0f0f5;
 box-shadow: 0 0 100px rgba(0,0, 0,0.3);
 border-radius: 8px;



 display: flex;
 justify-content: space-between;
 align-items: center;
}


.regsiter-container .content section {
    width:  100%;
    max-width: 380px;
}

.regsiter-container .content section h1 {

    margin:  64px 0 32px;
}


.regsiter-container .content section p {
    font-size: 18px;
    color: #737380; 
    line-height: 32px;
}
.regsiter-container form {
 width: 100%;
 max-width: 450px;
}


.regsiter-container form input {
    margin-top:  15px;
}

.regsiter-container form .input-group{
    display: flex;
    justify-content: center;
}

.regsiter-container form .input-group input + input {
    margin-left: 8px;
}
